body{
  margin: 0px 10px;
  background-image: url(ppp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

  
  

.cnt1{
  position: relative;
  top: 40px;
}

.cnt2{
  position: relative;
  top: 40px;
}

.prp{
  display: flex;
  justify-content: center;
  align-items: center;
}


.prp img{
  max-width: 10px;
  border-radius: 160px;

}

.name{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}



 a{
   text-decoration: none;
 }

.name{
  color: #a33939;
  font-family: serif;
}

.social-media  h3{
  background-color: white;
  border-radius: 80px;
  padding: 20px;
  text-align: center;
  border: solid #c78340 5px;
  color: #e0a569;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.20s;
}

.social-media h3:hover{
  background-color: white;
  border: solid cornsilk 5px;
  transform: scale(1.1000);
